@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --fundo-principal
    --texto
    --texto-inverso
    --destaque
    --destaque-inverso
    --fundo-card
}
body {
    
}